.change-password-module-child {
  position: absolute;
  top: 1px;
  left: 0;
  background-color: var(--color-white);
  width: 1920px;
  height: 1079px;
}
.plm-cover-5-icon1 {
  position: absolute;
  top: -144px;
  left: -144px;
  width: 2208px;
  height: 1368px;
  object-fit: cover;
}
.change-password-module-item {
  position: absolute;
  top: 194px;
  left: 396px;
  border-radius: 28px;
  background-color: var(--color-white);
  box-shadow: 0 4px 20px 7px rgba(0, 0, 0, 0.25);
  width: 1129px;
  height: 632px;
}
.change-password,
.password-must-contain {
  position: absolute;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.change-password {
  top: 228px;
  left: 513px;
  font-size: var(--font-size-42xl);
  color: #394dff;
  text-align: center;
  justify-content: center;
  width: 912px;
  height: 116px;
}
.password-must-contain {
  top: 424px;
  left: 504px;
  font-size: var(--font-size-6xl);
  width: 464px;
  height: 38px;
}
.current-password {
  top: 408px;
  left: 1024px;
  width: 184px;
}
.confirm-new-password,
.current-password,
.forgot-password,
.new-password {
  position: absolute;
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 28px;
}
.forgot-password {
  top: 482px;
  left: 1282px;
  font-size: var(--font-size-mini);
  color: #b70000;
  width: 134px;
}
.confirm-new-password,
.new-password {
  top: 517px;
  left: 1024px;
  width: 184px;
}
.confirm-new-password {
  top: 590px;
  width: 224px;
}
.at-least-6,
.done-ring-round-duotone-icon {
  position: relative;
  width: 41px;
  height: 41px;
}
.at-least-6 {
  display: flex;
  align-items: center;
  width: 424px;
  height: 38px;
  flex-shrink: 0;
}
.done-ring-round-duotone-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 9px;
}
.done-ring-round-duotone-group {
  flex-direction: row;
  gap: var(--gap-5xs);
}
.done-ring-round-duotone-container,
.done-ring-round-duotone-group,
.frame-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.done-ring-round-duotone-container {
  flex-direction: row;
  gap: var(--gap-2xs);
}
.frame-parent {
  position: absolute;
  top: 475px;
  left: 512px;
  width: 388px;
  flex-direction: column;
  gap: 4px;
  font-size: var(--font-size-xl);
}
.current-password-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-gainsboro-100);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 392px;
  height: 40px;
}
.lock-duotone-icon {
  position: absolute;
  top: 4px;
  left: 8px;
  width: 32px;
  height: 32px;
}
.current-password2 {
  position: absolute;
  top: 6px;
  left: 50px;
  display: flex;
  align-items: center;
  width: 184px;
  height: 28px;
}
.current-password1 {
  position: absolute;
  top: 436px;
  left: 1024px;
  width: 392px;
  height: 40px;
  font-size: var(--font-size-mini);
  color: var(--color-gray-400);
}
.new-password2 {
  position: absolute;
  top: 7px;
  left: 50px;
  display: flex;
  align-items: center;
  width: 184px;
  height: 28px;
}
.confirm-new-password1,
.new-password1 {
  position: absolute;
  top: 545px;
  left: 1024px;
  width: 392px;
  height: 40px;
  font-size: var(--font-size-mini);
  color: var(--color-gray-400);
}
.confirm-new-password1 {
  top: 618px;
}
.save-button-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xs);
  background-color: #71a1ff;
  border: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  width: 206px;
  height: 36px;
}
.save1 {
  position: absolute;
  top: 7.7px;
  left: 19.8px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 166.3px;
  height: 20.6px;
}
.save-button1 {
  position: absolute;
  top: 700px;
  left: 1107px;
  width: 206px;
  height: 36px;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.cancel-button1,
.cancel1 {
  position: absolute;
  width: 166.3px;
  height: 24.8px;
}
.cancel1 {
  top: 0;
  left: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cancel-button1 {
  top: 744px;
  left: 1127px;
  text-align: center;
  color: var(--color-darkslategray);
}
.side-bar-menu-child26 {
  position: absolute;
  top: -26px;
  left: -30px;
  width: 208px;
  height: 1140px;
}
.plm-logo-with-header-1-icon7 {
  position: absolute;
  top: 32px;
  left: 23px;
  width: 97px;
  height: 91px;
  object-fit: cover;
  cursor: pointer;
}
.sign-in-squre-icon7 {
  position: relative;
  width: 40px;
  height: 40px;
}
.link54 {
  position: absolute;
  top: 1012px;
  left: 3px;
  border-radius: var(--br-5xs);
  width: 145px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xs);
  box-sizing: border-box;
}
.side-bar-menu-child27,
.side-bar-menu-child28,
.side-bar-menu-child29,
.side-bar-menu-child30 {
  position: absolute;
  top: 143.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-lightgray-200);
  box-sizing: border-box;
  width: 149px;
  height: 1px;
}
.side-bar-menu-child28,
.side-bar-menu-child29,
.side-bar-menu-child30 {
  top: 582.5px;
}
.side-bar-menu-child29,
.side-bar-menu-child30 {
  top: 670.5px;
}
.side-bar-menu-child30 {
  top: 995.5px;
}
.systemdashboard-line-icon6 {
  position: relative;
  width: 35px;
  height: 35px;
  overflow: hidden;
  flex-shrink: 0;
}
.link55 {
  border-radius: var(--br-5xs);
  width: 59px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xs);
  box-sizing: border-box;
  cursor: pointer;
}
.folder-search-icon6 {
  position: relative;
  width: 35px;
  height: 35px;
}
.link-parent3,
.link60,
.link61 {
  width: 59px;
  display: flex;
  justify-content: flex-start;
}
.link60 {
  border-radius: var(--br-5xs);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-3xs) var(--padding-xs);
  box-sizing: border-box;
}
.link-parent3,
.link61 {
  position: absolute;
  left: 40px;
}
.link-parent3 {
  top: 184px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.link61 {
  top: 598px;
  border-radius: var(--br-5xs);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-3xs) var(--padding-xs);
  box-sizing: border-box;
  cursor: pointer;
}
.plm-cover-43,
.side-bar-menu6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 148px;
  height: 1080px;
}
.plm-cover-43 {
  filter: blur(144px);
  width: 1920px;
}
.change-password-module-inner {
  position: absolute;
  top: 995.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-lightgray-200);
  box-sizing: border-box;
  width: 336px;
  height: 1px;
}
.change-password-module {
  position: relative;
  background-color: var(--color-whitesmoke);
  width: 100%;
  height: 1080px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-inter);
}
