.plm-cover-41 {
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(144px);
  width: 1920px;
  height: 1080px;
}
.search-class-assignment-module-child {
  position: absolute;
  top: 1px;
  left: 0;
  background-color: var(--color-white);
  width: 1920px;
  height: 1079px;
}
.search-class-assignment-module-inner,
.search-class-assignment-module-item {
  position: absolute;
  top: 403px;
  left: 195px;
  background-color: var(--color-gainsboro-200);
  box-shadow: 0 4px 10px -3px rgba(0, 0, 0, 0.25) inset;
  width: 1685px;
  height: 501px;
}
.search-class-assignment-module-inner {
  top: 243px;
  background-color: var(--color-mediumseagreen-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 89px;
}
.st-semester-sy1 {
  position: absolute;
  top: 261px;
  left: 713px;
  font-size: var(--font-size-26xl);
  font-weight: 900;
}
.ay-sem {
  position: absolute;
  top: 2px;
  left: 0;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 134px;
  height: 40px;
}
.frame-inner {
  position: absolute;
  top: 0;
  left: 153px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 460px;
  height: 42px;
}
.span {
  font-weight: 500;
}
.st-semester1 {
  font-weight: 600;
}
.st-semester-txt-container {
  line-break: anywhere;
  width: 100%;
}
.st-semester {
  position: absolute;
  top: 2px;
  left: 176px;
  font-size: var(--font-size-xl);
  text-align: left;
  display: flex;
  align-items: center;
  width: 360px;
  height: 40px;
}
.search-button-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-mediumseagreen-200);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 135px;
  height: 42px;
}
.search {
  position: absolute;
  top: 6px;
  left: 13px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 109px;
}
.search-button {
  position: absolute;
  top: 0;
  left: 632px;
  width: 135px;
  height: 42px;
  color: var(--color-white);
}
.systemarrow-down-s-line-icon {
  position: absolute;
  top: 7px;
  left: 571px;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.ay-sem-parent {
  position: absolute;
  top: 156px;
  left: 635px;
  width: 767px;
  height: 42px;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
}
.com-lab-4,
.cs-elective-2,
.csc-01231-4,
.div,
.div1,
.m-600p- {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
  display: inline-block;
  width: 108px;
}
.com-lab-4,
.cs-elective-2,
.csc-01231-4,
.div1,
.m-600p- {
  left: 270px;
  width: 132px;
}
.com-lab-4,
.cs-elective-2,
.div1,
.m-600p- {
  left: 651px;
  width: 188px;
}
.com-lab-4,
.div1,
.m-600p- {
  top: 3px;
  left: 1500px;
  width: 109px;
}
.com-lab-4,
.m-600p- {
  top: 0;
  left: 1254px;
  width: 123px;
}
.m-600p- {
  left: 1046px;
  width: 208px;
}
.student-row-grade {
  position: relative;
  width: 1609px;
  height: 27px;
}
.student-row-grade-parent {
  position: absolute;
  top: 461px;
  left: 232px;
  width: 1611px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0;
  box-sizing: border-box;
  gap: var(--gap-xs);
  color: var(--color-darkslategray);
}
.print-button-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-brown);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 233px;
  height: 47px;
}
.span1 {
  font-size: var(--font-size-11xl);
}
.print {
  position: absolute;
  top: 7px;
  left: 64px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 140.4px;
  height: 28.5px;
}
.print-icon {
  position: absolute;
  height: 72.13%;
  width: 14.51%;
  top: 11.7%;
  right: 62.53%;
  bottom: 16.17%;
  left: 22.96%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.print-button {
  position: absolute;
  top: 154px;
  left: 1628px;
  width: 233px;
  height: 47px;
}
.search-class-assignment {
  position: absolute;
  top: 32px;
  left: 523px;
  font-size: var(--font-size-42xl);
  font-weight: 900;
  color: var(--color-red);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 991px;
  height: 80px;
}
.side-bar-menu-child6 {
  position: absolute;
  top: -26px;
  left: -30px;
  width: 208px;
  height: 1140px;
}
.plm-logo-with-header-1-icon3 {
  position: absolute;
  top: 32px;
  left: 23px;
  width: 97px;
  height: 91px;
  object-fit: cover;
  cursor: pointer;
}
.sign-in-squre-icon3 {
  position: relative;
  width: 40px;
  height: 40px;
}
.link22 {
  position: absolute;
  top: 1012px;
  left: 3px;
  border-radius: var(--br-5xs);
  width: 145px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xs);
  box-sizing: border-box;
}
.side-bar-menu-child10,
.side-bar-menu-child7,
.side-bar-menu-child8,
.side-bar-menu-child9 {
  position: absolute;
  top: 143.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-lightgray-200);
  box-sizing: border-box;
  width: 149px;
  height: 1px;
}
.side-bar-menu-child10,
.side-bar-menu-child8,
.side-bar-menu-child9 {
  top: 582.5px;
}
.side-bar-menu-child10,
.side-bar-menu-child9 {
  top: 670.5px;
}
.side-bar-menu-child10 {
  top: 995.5px;
}
.systemdashboard-line-icon2 {
  position: relative;
  width: 35px;
  height: 35px;
  overflow: hidden;
  flex-shrink: 0;
}
.link23 {
  border-radius: var(--br-5xs);
  width: 59px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xs);
  box-sizing: border-box;
  cursor: pointer;
}
.folder-search-icon2 {
  position: relative;
  width: 35px;
  height: 35px;
}
.link-container,
.link28,
.link29 {
  width: 59px;
  display: flex;
  justify-content: flex-start;
}
.link28 {
  border-radius: var(--br-5xs);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-3xs) var(--padding-xs);
  box-sizing: border-box;
}
.link-container,
.link29 {
  position: absolute;
  left: 40px;
}
.link-container {
  top: 184px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.link29 {
  top: 598px;
  border-radius: var(--br-5xs);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-3xs) var(--padding-xs);
  box-sizing: border-box;
  cursor: pointer;
}
.side-bar-menu2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 148px;
  height: 1080px;
}
.search-class-assignment-module {
  position: relative;
  background-color: var(--color-whitesmoke);
  width: 100%;
  height: 1080px;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
